{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">This is what We do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>    The presence of water on earth makes it habitable. A person cannot live without water for more than two weeks, since 60% of the human body is water. That is why it is very important that everyone can have access to water resources. </p>
        <p>    Today, almost 1.5 billion people do not have sufficient access to water, about 450 million of them are children. Modern analyzes say that this number will keep increasing in the future due to global warming.</p>
        <p>    Our team decided to contribute to solving this problem. To this end, we have developed a website where new information related to water problems will be regularly published to keep people aware of this issue. After reading the post, a person can donate money through our website to solve this problem. If a person does not have the financial ability to donate money, then the website contains advertising videos that users can watch to support the project. Also, advertising images are integrated into the posts themselves and the user will see them while reading the article. All advertising revenue will go towards solving water problems.</p>
        <p>    We hope that our project will play its small but important role in solving the world's water problems.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}