{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://media.istockphoto.com/photos/closeup-water-flow-to-hand-of-women-for-nature-concept-on-the-garden-picture-id1154091174?b=1&k=20&m=1154091174&s=170667a&w=0&h=Y2LODbOukZGr4_7CHKdE2R_M-AnIWXB5FIuMsR-uRbs=')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Save Water</h1>
              <h1>Save Life!</h1>
            <span class="subheading">A collection of blogs related to water pollution.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            {{post.author.name}}
            on {{post.date}}
            {% if current_user.id == 1 %}
            <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
            {% endif %}
          </p>
        </div>
        {% endfor %}


        <!-- New Post -->
        {% if current_user.id == 1 %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}